<div class="entry">
  <h1>Hello again, {{user}}!</h1>
  <div class="body">
    This is About page.<br>
    {{now}}<br>
    Go to <a href="/" data-path>Home page</a><br>
    Go to <a href="/code" data-path>Code page</a><br>
  </div>
  <div class="contents">
    {{{contents}}}
  </div>
</div>
