<div class="entry">
  <h1>Hello, {{user}}!</h1>
  <div class="body">
    This is Code page.<br>
    Go to <a href="/" data-path>Home page</a><br>
    Go to <a href="/about" data-path>About page</a><br>
  </div>
  <div class="contents">
    <pre><code class="js">{{{code}}}</code></pre>
  </div>
</div>
